include README.md
include LICENSE
recursive-include biovis_report *
recursive-include biovis_media_extension * 
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude biovis_media_extension.egg-info *
recursive-exclude biovis_report.egg-info *
