[plugin]
protocol = "http"
domain = "127.0.0.1"
enable_iframe = true
wait_server_seconds = 5
backoff_factor = 3

[report]
repo_url = "http://biovis.3steps.cn"
site_description = "BioVis is a painless reproducibility manager."
site_author = "biovis"
copyright = " "
site_name = "BioVis Report"
theme_name = "mkdocs"
menu_order = "desc"
