[plugin]
protocol = "http"
domain = "127.0.0.1"
enable_iframe = true
wait_server_seconds = 1
backoff_factor = 3

[report]
repo_url = "http://biovis.report"
site_description = "BioVis is a painless reproducibility manager."
site_author = "biovis"
copyright = " "
site_name = "BioVis Report"
theme_name = "biovis_report"
menu_order = "desc"
