<!-- rendering arguments: help_doc -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>plugin for biovis report</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        body {
          font-family: sans-serif;
          margin: 20px;
          font-size: 18px;
        }
        code, pre {
          font-family: monospace;
          font-size: 15px;
        }
        h1 code,
        h2 code,
        h3 code,
        h4 code,
        h5 code,
        h6 code {
          font-size: inherit;
        }
    </style>
  </head>
  <body>
    {{ help_doc }}
  </body>
</html>
